#root {
  width: 100%;
  max-width: 1200px;
  min-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  background-color: rgb(76, 43, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  height: 100%;
}

.NavDiv {
  width: 33%;
}

.NavTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavCart {
  text-align: right;
  padding: 0 10px;
}

.NavUser {
  text-align: left;
  padding: 0 10px;
}

.GroceriesApp-Container {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  margin: 0 auto;
}

.CartContainer {
  width: 25%;
  justify-content: center;
}

.CartCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 8px;
  background-color: rgb(43, 48, 54);
}

.CartCardInfo {
  align-items: center;
  width: 50%;
  padding: 0px;
}

.ProductsContainer {
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.ProductCard {
  width: 20%;
  display: inline-block;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 312px;
}

.ProductQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QuantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}
.QuantityBtn:hover {
  background-color: rgb(76, 43, 226);
}

img {
  height: 50px;
  border-radius: 5px;
}

.counter-container {
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  gap: 10px;
}

.counter-button {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.CartListBtns {
  display: flex;
  justify-content: space-around;
}

.RemoveButton {
  background-color: rgb(190, 0, 0);
}

.BuyButton {
  background-color: green;
  width: 50%;
}
